mixin featureItem(icon, title, description)
  .feature-item.card.h-100.shadow-sm.border-0.text-center.p-4
    i(class=`${icon} fa-3x text-primary mb-3`)
    h3.h5.fw-bold.mb-3= title
    p.text-muted.mb-0= description 