footer.mt-auto.bg-dark.text-white.py-4
  .container
    .row
      .col-lg-4.mb-4.mb-lg-0
        h5.text-uppercase.mb-3.border-start.border-primary.border-4.ps-3 Về chúng tôi
        p.mb-0
          | Hệ thống đặt vé xe trực tuyến hàng đầu Việt Nam. 
          | Đặt vé dễ dàng, thanh toán nhanh chóng, trải nghiệm tuyệt vời.
      
      .col-lg-4.mb-4.mb-lg-0
        h5.text-uppercase.mb-3.border-start.border-primary.border-4.ps-3 Liên hệ
        p.mb-2.d-flex.align-items-center
          i.fas.fa-phone.me-3.text-primary
          span Hotline:0978537109
        p.mb-2.d-flex.align-items-center
          i.fas.fa-envelope.me-3.text-primary
          span Email: levinhthai2015@gmail.com
        p.mb-0.d-flex.align-items-center
          i.fas.fa-map-marker-alt.me-3.text-primary
          span Địa chỉ: Thạnh Xuân, Quận 12X TP.HCM
      
      .col-lg-4
        h5.text-uppercase.mb-3.border-start.border-primary.border-4.ps-3 Theo dõi chúng tôi
        .social-links.d-flex.gap-3
          a.btn.btn-outline-light.rounded-circle(href='#' title='Facebook' aria-label="Facebook")
            i.fab.fa-facebook-f
          a.btn.btn-outline-light.rounded-circle(href='#' title='Youtube' aria-label="Youtube")
            i.fab.fa-youtube
          a.btn.btn-outline-light.rounded-circle(href='#' title='Instagram' aria-label="Instagram")
            i.fab.fa-instagram
    
    hr.my-4
    
    .row
      .col-md-6.text-center.text-md-start
        p.copyright.mb-0 © 2025 Đặt vé xe.Thái LV
      .col-md-6.text-center.text-md-end
        a.text-light.me-3.text-decoration-none(href='/dieu-khoan') 
          i.fas.fa-file-alt.me-1
          | Điều khoản sử dụng
        a.text-light.text-decoration-none(href='/chinh-sach')
          i.fas.fa-shield-alt.me-1
          | Chính sách bảo mật 